addict
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
beautifulsoup4
bleach
blinker
click
comm
configargparse
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
defusedxml
entrypoints
executing
fastjsonschema
flask
fonttools
fvcore
h5py
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
inplace-abn
iopath
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy-loader
lpips
mako
markupsafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
notebook
notebook-shim
open3d
opencv-python
pandas
pandocfilters
platformdirs
plotly
plyfile
point-cloud-utils
portalocker
prometheus-client
prompt-toolkit
psutil
pycuda
pygments
pyparsing
pyquaternion
pyrsistent
pytools
pytz
pywavelets
pyyaml
pyzmq
qtconsole
qtpy
scikit-image
scikit-learn
scipy
send2trash
sniffio
soupsieve
stack-data
tabulate
tenacity
termcolor
terminado
threadpoolctl
tifffile
tinycss2
tornado
tqdm
traitlets
tzdata
warmup-scheduler
webencodings
websocket-client
werkzeug
widgetsnbextension
yacs
zipp